.overlay {
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 666;
	text-align: center;
	background-color: #2f2f2f;
	margin-left: auto;
	margin-right: auto;
}

.prev, .next {
	float: left;
}

#navigation {
	position: absolute;
	bottom: 0;
}

@media (min-width: 1024px) {
	a.prev, a.next {
		font-size: 555%;
	}
}

@media only screen and (max-width : 1023px),
only screen and (max-device-width : 320px) {
	a.prev, a.next {
		font-size: 444%;
	}
}

@media screen and (min-width: 321px) {
	#navigation {
		width: 100%;
	}
	.prev, .next {
		width: 50%;
		float: left;
	}
}

@media screen and (max-width: 320px) {
	#navigation {
		width: 100%;
	}
	.prev, .next {
		width: 100%;
	}
}

a.prev:visited,
a.next:visited,
a.prev,
a.next {
	text-shadow: 0px 2px 1px #222;
	color: #4d4d4d;
}

a.prev:hover,
a.next:hover {
	text-shadow: 0px 1px 1px #4d4d4d;
	color: #222;
}

.frame {
	display: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 90%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.overlay img {
	position: relative;
}

.overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 2.5% 0% 10% 0%;
}

.overlay:target > a > .frame {
	display: block;
}

.close {
	top: 0px;
	left: 0px;
	position: absolute;
	min-width: 9999px;
	min-height: 9999px;
	z-index: -1;
}

x:-o-prefocus, .overlay img {
    height: 100%;
}

/* debugging
.overlay {border: 1px solid red;}
.overlay img {border: 1px solid blue;}
.overlay > div {border: 1px solid green;}
.overlay > div > * {border: 1px solid purple;}
a.close, a.prev, a.next {border: 1px solid yellow;}
*/
