.overlay {
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 666;
	text-align: center;
	background-color: #2f2f2f;
	margin-left: auto;
	margin-right: auto;
}

.prev, .close, .next {
	float: left;
}

.prev {
	text-align: right;
}

.next {
	text-align: left;
}

#navigation {
	padding: 10px;
	background-color: #111111;
	position: absolute;
	bottom: 0;
}

@media (min-width: 1024px) {
	.prev, .close, .next {
		font-size: 333%;
	}
}

@media only screen and (max-width : 1023px),
only screen and (max-device-width : 320px) {
	.prev, .close, .next {
		font-size: 444%;
	}
}

@media screen and (min-width: 321px) {
	#navigation {
		width: 100%;
	}
	.prev, .close, .next {
		width: 33%;
		float: left;
	}
}

@media screen and (max-width: 320px) {
	#navigation {
		width: 100%;
	}
	.prev, .close, .next {
		width: 100%;
	}
}

.prev:visited,
.close:visited,
.next:visited,
.prev,
.close,
.next {
	text-shadow: 0px 2px 1px #222;
	color: #4d4d4d;
}

.prev:hover,
.close:hover,
.next:hover {
	text-shadow: 0px 1px 1px #4d4d4d;
	color: #222;
}

.frame {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 90%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.overlay img {
	position: relative;
}

.overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 2.5% 0% 10% 0%;
}

.overlay > a {
	display: none;
}

.overlay:target > a {
	display: inline;
}

x:-o-prefocus, .overlay img {
	height: 100%;
}
