.overlay {
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 666;
	text-align: center;
	background: rgb(200,200,200);
}
.overlay > div {
	position: relative;
	color: rgba(27,54,81,0.8);
	width: 550px;
	height: 80px;
	margin: 40px auto 0px auto;
}
.overlay div h3,
.overlay div p {
	padding: 0px 20px;
	width: 200px;
	height: 60px;
}
.overlay div h3 {
	float: left;
	text-align: right;
	border-right: 1px solid rgba(27,54,81,0.4);
}
.overlay div h3 span,
.overlay div p {
}
.overlay div h3 span {
	display: block;
	line-height: 6px;
}
.overlay div p {
	text-align: left;
	float: left;
	width: 260px;
}
.overlay a.close {
	z-index: 999;
	position: absolute;
	top: 43px;
	left: 50%;
	width: 50px;
	height: 23px;
	overflow: hidden;
	margin-left: -25px;
}
.overlay img {
	/* height: 100%; For Opera max-height does not seem to work */
	height: 100%;
	max-height: 100%;
	width: auto !important;
	max-width: auto !important;
	position: relative;
}
.prev, .next {
	position: absolute;
	top: -32px;
	width: 24px;
	height: 25px;
	left: 50%;
}
.prev:hover, .next:hover {
}

.prev {
	margin-left: -30px;
}
.next {
	margin-left: 6px;
}

.overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}

.overlay:target img,
.overlay:target a.close {
}

/* 
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
	http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/

x:-o-prefocus, .overlay img {
    height: 100%;
}

/* debugging
.overlay {border: 1px solid red;}
.overlay img {border: 1px solid blue;}
.overlay > div {border: 1px solid green;}
.overlay > div > * {border: 1px solid purple;}
*/
